@charset "UTF-8";


@font-face {
  font-family: 'passion';
  src: url(fonts/Passion_One/PassionOne-Bold.ttf);
}

@font-face {
  font-family: 'sri';
  src: url(fonts/Sriracha/Sriracha-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
}

html, body{
  min-height: 100vh;
  background-color: darkgray;
}

header{
  background-color: black;
  color: white;
  text-align: center;
}

header > h1{
  padding-top: 50px;
  font-family: 'passion';
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 10vw;
}

header > p{
  padding-bottom: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}

header a, footer a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover, footer a:hover{
  text-decoration: underline;
}

section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-family: 'sri';
  font-size: 3.5vw;
}

section.normal{
  background-color: white;
  color: black;
}

section.imagem{
  background-color: rgb(48, 46, 46);
  color: white;
}

section.imagem > p{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.253);
  padding: 8px;
}

footer{
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px;
}
